<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <link rel="icon" type="image/x-icon" href="../xendev.ico">
  <!--<link rel="stylesheet" href="/styles/mods.css">-->
  <link rel = "stylesheet" href="/styles/modPage.css">
  <!--<link rel = "stylesheet" href="/styles/# style.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  
  
  <script type="module" src="../js/Logout.js"></script>
  <script type="module" src="../js/ModPage.js"></script>
</head>

<body>

  <h2 id="modName"></h2>

  <!--<div class="box">-->
    <table class="navbar"> 
      <tr class="navbar-items">
        <td><a href="/views/ModList.html" class="fa-sharp fa-solid fa-house" style="color: #ffffff; text-decoration: none;" aria-label="Home"></a></td>
        <td><a href="#" id="categoriesMenu">Categories</a></td>
        <td><a href="#" id="strategiesMenu">Strategies</a></td>
        <td><a href="#" id="tutorialsMenu">Tutorials</a></td>
        <td><a href="#" id="addCategory">Add category</a></td>
      </tr>
    </table>

  <!--</div class="box">-->

</body>

</html>