<!DOCTYPE html>
<html lang="en">

<head>
  <title>Half-Life 2 Mods</title>
  <link rel="icon" type="image/x-icon" href="xendev.ico">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

<form class="loginForm">
  <div class =loginDiv>
    <p>Login</p>
    <label for="text"><b>Username or Email</b></label>
    <input type="text" placeholder="Username / Email" name="username-email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Password" name="password" required>
    <button type="submit" class="loginButton">Login</button>
  </div>

  <div class="loginDiv">
    <div>Don't have an account? <a href="/views/Register.html" id="Orange">Register</a>.</div>
  </div>
</form>

</body>


</html>
