<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <link rel="icon" type="image/x-icon" href="xendev.ico">
  <link rel="stylesheet" href="/styles/mods.css">
  <script type="module" src="../js/ModPage.js"></script>
</head>

<body>

<div style="background: linear-gradient(rgb(40,40,40) 0%, rgb(28,28,28) 10%);background-repeat: no-repeat;background-position: right bottom;">

<hr>

<h2 style="margin-top:2rem;margin-bottom:2.5rem;font-size:4.5rem;text-align:left;font-weight:400;" id="modName"></h2>

<hr class="line">

  <div class="box">
    <table class="xentable">
      <tr>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/ModList.html">List</td>
        <td style="width:2rem;"></td>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="">Categories</td>
        <td style="width:2rem;"></td>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="">Strategies</td>
        <td style="width:2rem;"></td>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="">Tutorials</td>
        <!-- To the right side of the nav bar there should be the download links & potential speedrun.com link -->
      </tr>
    </table>
    </div class="box">

<hr class="line">


</body>


</html>