<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <link rel="icon" type="image/x-icon" href="xendev.ico">
  <!--<link rel="stylesheet" href="/styles/mods.css">-->
  <link rel = "stylesheet" href="/styles/modPage.css">
  <!--<link rel = "stylesheet" href="/styles/# style.css">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  
  <script type="module" src="../js/ModPage.js"></script>
</head>

<body>

<div class = "container">


<h2 id="modName">ModName</h2>

<hr class="line">

  <!--<div class="box">-->
    <table class="xentable"> 
      <tr>
        <td><a href="/views/ModList.html" class="fa-sharp fa-solid fa-house" style="color: #ffffff; text-decoration: none;" aria-label="Home"></a></td>
        <td><a href="">Categories</a></td>
        <td><a href="">Strategies</a></td>
        <td><a href="">Tutorials</a></td>
        <td><a href="#" id="addCategory">Add category</a></td>
        <!-- To the right side of the nav bar there should be the download links & potential speedrun.com link -->
      </tr>
    </table>

  <!--</div class="box">-->

<hr class="line">
<div class ="category-div">
  <h2>CategoryName</h2>
  <div class="speedrun">
  <h3>This is speedrun title</h3>
  <p>here's speedrun video</p>
  <p>heres voting stuff</p>
  </div>
  <div class="popUp">
    <button id="wr-button">View WR-history</button>
  </div>
</div>
</body>


</html>