<!DOCTYPE html>
<html lang="en">

<head>
  <title>Half-Life 2 Mods</title>
  <link rel="icon" type="image/x-icon" href="xendev.ico">
  <link rel="stylesheet" href="/styles/mods.css">
  <script type="module" src="../js/ModPage.js"></script>
</head>

<body>

<div style="background: linear-gradient(rgb(40,40,40) 0%, rgb(28,28,28) 10%);background-repeat: no-repeat;background-position: right bottom;">

<hr>

<h2 style="margin-top:2rem;margin-bottom:2.5rem;font-size:5.4rem;text-align:left;font-weight:400">Half-Life 2 Mods</h2>

<hr class="line">

  <div class="box">
    <table class="xentable">
      <tr>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/ModList.html">List</td>
        <td style="width:2rem;"></td>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/Installation.html">Installation</td>
        <td style="width:2rem;"></td>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/Timer.html">Timer</td>
        <td style="width:2rem;"></td>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/New.html">Create Mod</td>
        <td style="width:2rem;"></td>
        <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/Login.html">Login</td>
      </tr>
    </table>
    </div class="box">

<hr class="line">


</body>


</html>