<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Mod</title>
    <link rel="icon" type="image/x-icon" href="../xendev.ico">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <form class="createMod" id="createMod" >
        <div class="createModDiv">
          <p>Create a new mod</p>
          <label for="modName"><b>Mod name</b></label>
          <input type="text" placeholder="Mod name" name="modName" id="modName" required>
          <button type="submit" class="loginButton">Create</button>
          <p id="message"></p>
        </div>
      </form>
    <script src="../js/NewMod.js"></script>
</body>
</html> 