<!DOCTYPE html>
<html lang="en">

<head>
  <title>Half-Life 2 Mods</title>
  <link rel="icon" type="image/x-icon" href="xendev.ico">
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

<form class="loginForm">
  <div class =loginDiv>
    <p>Register</p>
    <label for="text"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" required>
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email (optional)" name="email">
    <button type="submit" class="loginButton">Register</button>
  </div>
</form>

</body>


</html>
