<!DOCTYPE html>
<html lang="en">

<head>
  <title>Half-Life 2 Mods</title>
  <link rel="icon" type="image/x-icon" href="../xendev.ico">
  <link rel="stylesheet" href="/styles/login-registerForm.css">
</head>

<body>

<form class="loginForm" id="registerForm">
  <div class =loginDiv>
    <h2>Register</h2>
    <label for="text"><b>Username</b></label>
    <input type="text" placeholder="Enter username" name="username" required>
    <label for="password"><b>Password</b></label>
    <input type="password" autocomplete="new-password" placeholder="Enter password" name="password" required>
    <label for="password"><b>Confirm Password</b></label>
    <p id="passwordError" style="color: red;font-size:0px;margin-top:0px;"></p>
    <input type="password" autocomplete="new-password" placeholder="Confirm password" name="confirmPassword" required>
    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter email (optional)" name="email">
    <button type="submit" class="loginButton">Register</button>
  </div>
</form>
<script type="module" src="../js/Register.js"></script>
</body>


</html>
