<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer</title>
    <link rel="icon" type="image/x-icon" href="../xendev.ico">
    <link rel="stylesheet" href="/styles/mods.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <div>

        <hr>
        
        <h2 class="title">Half-Life 2 Mods</h2>
        
        
          
            <table class="navbar">
              <tr>
                <td><a href="/views/ModList.html" class="fa-sharp fa-solid fa-house" style="color: #ffffff; text-decoration: none;" aria-label="Home"></a></td>
                <td style="width:2rem;"></td>
                <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/Installation.html">Installation</td>
                <td style="width:2rem;"></td>
                <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/Timer.html">Timer</td>
                <td style="width:2rem;"></td>
                <td style="padding:0px;color:orange;font-size:2rem;"font-size:2rem;><a href="/views/Login.html">Login</td>
              </tr>
            </table>
           
        

    <div style="display: flex; flex-direction: column; align-items: center; margin-top:3rem;margin-bottom:2rem;">
        <h5 id="TextSize1" style="margin-bottom:3rem;"> Timer </h5>
        <p style="font-size: 1.5rem;">It is essential to have <b>loading times removed</b> from the game/mod you are playing:</p>
        <ol style="display:flex; flex-direction:column; align-items: start; max-width: 70rem; margin-left: 16rem;">
        <li id="TextSize2">Download the latest SourceSplit from <a href="https://github.com/thisis2838/SourceSplit/releases/" id="github-link">2838's GitHub</a></li>
        <li id="TextSize2">Replace your LiveSplit.SourceSplit.dll with the one from the link above in your LiveSplit's /Components folder.</li>
        <li id="TextSize2">Right-click LiveSplit and press Edit Splits</li>
        <li id="TextSize2">Change the game name to <b>Half-Life 2</b> or <b>Half-Life 2 Mods</b> (Some games and mods work with their own respective name)</li>
        <li id="TextSize2">SourceSplit options should appear above the splits. Press Activate</li>
        <li id="TextSize2">Press Settings. Go all the way down and checkmark "Let SourceSplit Decide" for correct timing method</li>
        <li id="TextSize2">Go to Miscellaneous tab and change "Ticks to add to IGT per finished load" value from 0 to 1</li>
        <li id="TextSize2">Press Ok in the SourceSplit window and Splits Editor</li>
        <li id="TextSize2">Right-click LiveSplit, hover over Compare Against and select Game Time. If the Game Time doesn’t work, it’s because of your Layout Settings. In your layout, you have to compare against either “Current timing method” or Game time</li>
        <li id="TextSize2">Save your layout, save your splits. This way you don’t have to setup everything for the second time, only some of the steps when you are going to run another game or mod. It is recommended to duplicate splits from another HL2 game/mod to a new one so it’s easy to skip steps 4-8.</li>
        <li id="TextSize2">When you relaunch your LiveSplit, do it from the LiveSplit’s executable, not through the splits/layout file. This way it saves all the settings, such as which splits you had last time, which layout you used and it saves the setting from step 9.</li>
        </ol>
        </div>
<script type="module" src="../js/Logout.js"></script>
</body>
</html>
