.container {
    width: auto;
    margin: auto;
    padding: 20;
    padding-top: 2rem;
    background: linear-gradient(rgb(51, 51, 51) 0%, rgb(28,28,28) 10%);
}
  
body {
    background-color: rgb(28, 28, 28);
    color: rgb(200, 200, 200);
    font-family: "Segoe UI Light", sans-serif;
    margin: 0;
    padding: 0;
}

.line {
    border-bottom: 1px solid #333;
    width: auto;
  }

.navbar {
    width:auto;
    margin-left:auto;
    margin-right:auto;
    margin-top:0rem;
    margin-bottom:0rem;
    cursor: pointer;
  }
  
  p, span, label, input, textarea {
    color: rgb(200, 200, 200);
}

td {
    padding:1.2rem;
    color:orange;
    font-size:2rem;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {text-decoration: underline 1.5px;}

h1, h2, h3, h4, h5, h6 {
    color: rgb(220, 220, 220);
}

#modName {
    color: white;
    margin-top: 0rem;
    margin-bottom:2.5rem;
    margin-left: 1rem;
    font-size:4.5rem;
    text-align:left;
    font-weight:400;
    font-style: italic;
}

.category-div {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 2em;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 2px solid #333;
  }

.category-form {
    padding: 1rem;
}

.category-input {
    padding: 6px;
    border-radius: 10px;
    margin: 1rem;
    color: black;
    border: solid 2px orange;
}


.category-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.popUp {
    background-color: #222;
    display: flex;
    width: auto;
    justify-content: center;
    position: fixed;
    align-items: flex-start;
    align-self: flex-end;
    right: 20rem;
    top: 23rem;
    border: 1px solid #333;
    border-radius: 10px;
}

.popUpContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 5rem;
    position: relative;
}

#addWr {
    margin-top: -1.85rem;
    margin-left: -5rem;
}

.close-btn {
    margin-top: 3rem;
    margin-right: -5rem;
}

.add-cat-btn, .close-btn, #addWr {
    background-color: orange;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;}

#wr-button:hover, .add-cat-btn:hover, .close-btn:hover, #addWr:hover {
        background-color: rgb(255, 145, 0);
    }

#wr-button {
    background-color: orange;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    border: none;
    margin-right: 1rem;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    align-self: flex-end;
}

.video-box-container {
    display: flex;
    flex-direction: row;
}

.video-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
    width: 640px;
    height: 360px;
}

.video-missing-text {
    color: #ddd;
    font-size: 1.6rem;
    text-align: center;
    margin-top: -1rem;
}

.add-video-btn {
    background-color: #1c1c1c;
    color: #ddd;
    text-align: center;
    font-size: 4rem;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
    margin: 0 auto;
}

.edit-video-btn {
    background-color: #222;
    color: #ddd;
    text-align: center;
    align-content: center;
    align-self: flex-end;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 5em;
    height: 1.4em;
    margin-left: 0.4em;
}

.video-iframe {
    border: none;
    width: 100%;
    height: 100%;
}

  /* MEDIA QUERIES */

  @media (max-width: 768px) {
    .container {
        width: 95%;
    }
   
    .popUp {
        right: 22em;
    }
}