.container {
    width: auto;
    margin: auto;
    padding: 20;
    padding-top: 2rem;
    background: linear-gradient(rgb(51, 51, 51) 0%, rgb(28,28,28) 10%);
}
  
body {
    background-color: rgb(28, 28, 28);
    color: rgb(200, 200, 200);
    font-family: "Segoe UI Light", sans-serif;
    margin: 0;
    padding: 0;
}

.line {
    border-bottom: 1px solid #333;
    width: auto;
  }

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar > tbody {
    margin: auto;
    position: relative;
    text-align: center;
  }
  
  p, span, label, input, textarea {
    color: rgb(200, 200, 200);
}

td {
    padding:1.2rem;
    color:orange;
    font-size:2rem;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover {text-decoration: underline 1.5px;}

h1, h2, h3, h4, h5, h6 {
    color: rgb(220, 220, 220);
}

#modName {
    color: white;
    margin-top: 0rem;
    margin-bottom:2.5rem;
    margin-left: 1rem;
    font-size:4.5rem;
    text-align:left;
    font-weight:400;
    font-style: italic;
}

.category-div {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 2em;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 2px solid #333;
  }

.category-form {
    padding: 1rem;
}

.category-input {
    font-size: medium;
    padding: 6px;
    border-radius: 10px;
    margin: 1rem;
    color: #000000;
    border: solid 2px orange;
}


.category-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.popUp {
    background-image:linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.863)),
    url("/imgs/hl2-bg5.jpeg");
    background-size: cover;
    background-position: center;
    background-color: #222;
    display: flex;
    width: auto;
    justify-content: center;
    position: fixed;
    align-items: flex-start;
    align-self: flex-end;
    right: 20rem;
    top: 23rem;
    border: 1px solid #333;
    border-radius: 10px;
}

.popUpContent {
    font-size:larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 5rem;
    position: relative;
}

#addWr {
    margin-top: -1.85rem;
    margin-left: -5rem;
}

.close-btn {
    margin-top: 3rem;
    margin-right: -5rem;
}

.add-cat-btn, .add-resource-btn, .close-btn, #addWr {
    background-color: orange;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;}

#wr-button:hover, .add-cat-btn:hover, .close-btn:hover, #addWr:hover {
        background-color: rgb(255, 145, 0);
    }

#wr-button {
    background-color: orange;
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    border: none;
    margin-right: 1rem;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    align-self: flex-end;
}

.video-box-container {
    display: flex;
    flex-direction: row;
}

.guide-description-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.video-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
    width: 640px;
    height: 360px;
}

.video-missing-text {
    color: #ddd;
    font-size: 1.6rem;
    text-align: center;
    margin-top: -1rem;
}

.add-video-btn {
    background-color: #1c1c1c;
    color: #ddd;
    text-align: center;
    font-size: 4rem;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    width: 1.4em;
    height: 1.4em;
    margin: 0 auto;
}

.edit-video-btn, .edit-description-btn, .save-description-btn {
    background-color: #222;
    color: #ddd;
    text-align: center;
    align-content: center;
    align-self: flex-end;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 5em;
    height: 1.4em;
    margin-left: 0.4em;
}

.video-iframe {
    border: none;
    width: 100%;
    height: 100%;
}

  /* MEDIA QUERIES */

  @media (max-width: 768px) {
    .container {
        width: 95%;
    }
   
    .popUp {
        right: 22em;
    }
}

.resources-flex {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    background-color: #1a1a1a;
    border: 2px solid #333;
    border-right: none;
    border-radius: 10px 0 0 10px;
    padding: 1em;
}

.resource-form {
    position: fixed;
    right: 0;
    top: 30%;
    transform: translateX(20px);
    z-index: 1000;
    background-color: #1a1a1a;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 1rem;
    flex-direction: column;
    margin-left: auto;
    width: 30em;
    margin-right: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.resource-form.show {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.add-resource-btn {
    width: 10em;
    align-self: center;
}

.votesContainer {
  justify-content: flex-start;
  align-items: center;
}

.voteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100px;
}

.guide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}

.guide-description, .description-input {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 1rem;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
    width: 50rem;
    height: 360px;
    padding: 1rem;
}

.char-counter {
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 0.5rem;
    text-align: right;
}